<footer>
  

  
  <img src="/src/img/logo_white.png" style="width: 140px; margin-top: 60px" />
  <div style="margin-top: 20px; margin-bottom: 20px">
    <a href="https://blog.naver.com/prettyphone93"
      ><img
        src="/src/img/naver_logo.png"
        style="width: 36px; margin-right: 4px"
    /></a>
    <a href="https://talk.naver.com/ct/wvxql4j"
      ><img src="/src/img/talktalk_logo.png" 
         style="width: 36px; margin-left: 4px; margin-right: 4px"
    /></a>
    <br /> <br />
 
    
    
  </div>
  <p class="p14" id="pc_footer" style="font-weight: 300; display: none">
    상호: 예쁜중고폰 안산점 | 대표자: 김연승 | 사업자 번호: 830-07-02903<br />고객센터:
    0507-1466-8071 | 이메일: 3274cukflo@naver.com<br />주소: 경기 안산시 상록구 본오동 895-20
  </p>
  <p
    id="mobile_footer"
    style="font-size: 11px; font-weight: 300; display: none"
  >
    상호: 예쁜중고폰 안산점 | 대표자: 김연승 | 사업자 번호: 830-07-02903<br />고객센터:
    0507-1466-8071 | 이메일: 3274cukflo@naver.com<br />주소: 경기 안산시 상록구 본오동 895-20
  </p>
  <p class="p14" style="font-weight: 300; margin-bottom: 60px">
    Copyright &copy; 2024 예쁜중고폰 안산점 Co., Ltd. All rights reserved.
  </p>

    


   <span itemscope="" itemtype="http://schema.org/Organization">
<link itemprop="url" href="https://안산중고폰.com">
<a itemprop="sameAs" href="https://blog.naver.com/prettyphone93"></a>
<a itemprop="sameAs" href="https://talk.naver.com/ct/wvxql4j"></a>
</span>


  
</footer>

<script>
  window.onload = function () {
    var pcFooter = document.getElementById("pc_footer");
    var mobileFooter = document.getElementById("mobile_footer");
    var isMobile = false;

    if (window.innerWidth <= 768) {
      isMobile = true;
    }

    if (isMobile) {
      mobileFooter.style.display = "block";
      pcFooter.style.display = "none";
    } else {
      mobileFooter.style.display = "none";
      pcFooter.style.display = "block";
    }
  };
</script>
<script>
  window.addEventListener("resize", function () {
    var pcFooter = document.getElementById("pc_footer");
    var mobileFooter = document.getElementById("mobile_footer");

    if (window.innerWidth <= 768) {
      mobileFooter.style.display = "block";
      pcFooter.style.display = "none";
    } else {
      mobileFooter.style.display = "none";
      pcFooter.style.display = "block";
    }
  });
</script>
